.network{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10em;
}
.network a{
    color: #f27a03;
    font-size: 3em;
}
.social-midia:hover{
    background-color: red;
}

.social-midia{
    text-decoration: none;
    font-size: 1em;
}