*{
    margin:0
}
:root {
    --title-color: #f27a03;
    --text-color: #e7e7e7;
    --principal-title:#a8a8a8;
}

body {
    background-image: url(../imagens/bg-unsplash-2x.png);
    background-color: #07060daa;
    background-size: cover;
    background-position: bottom left;
    background-attachment: fixed;
   /*  opacity: 90%; */
    z-index: -1;
}

body {
    font-size: 62.5%;
    font-family: sans-serif;
    display: flex;
   
}

.sidebar-container {
    width: 20%;
    min-height: 100vh;
    background-color: #13121ec8;
    top: 0;
}

.sidebar {
    color: var(--text-color);
    font-size: 1.7em;
    right: 1em;
    bottom: 5em;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: right;
    position: relative;

}

.sidebar-options {
    border-bottom: 1px solid #ccc;
    letter-spacing: 2px;
    overflow: hidden;
    margin-top: .4em;
    transition: all .5s;
    padding-bottom: 1px;
}
.sidebar:hover .atual-option {
    border-bottom: 2px solid var(--text-color);
    background-color: rgba(255, 255, 255, 0.26);
}
.atual-option {
    border-bottom: 2px solid var(--text-color);
    background-color: #cccccc47;
    border-radius: 5px;
}
.sidebar-options:hover {
    border-bottom: 1px solid var(--text-color);
}

.sidebar a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: .7em 0em;
    margin-bottom: .3em;
    transition: all 1s;
}

.sidebar-options:hover .move {
   /*  transform: translateX(-2em); */
   padding-right: 2em;
    background-color: rgba(255, 255, 255, 0.26);

}

.sidebar ul {
    margin-top: 60%;
}

.sidebar-img {
    width: 5em;
    height: 5em;
    border-radius: 50%;

    right: 0;
}
.main-container {
    min-width: 75vw;
    height: 100vh;
    padding: 7em;
    z-index: 1;
    background-color: #c1c1c17a;
   /*  margin-left: 25%; */

}

.main-container h1{
    font-size: 4em;
    margin-bottom: 1.5em;
    color: var(--principal-title);
    font-weight: 600;
}
.main-container h2{
    color: var(--title-color);
    font-size: 3em;
    font-weight: 600;
}
.main-container h3{
    color: var(--title-color);
    margin: 1em 0;
    font-size: 2em; 
    font-weight: 600;
}
.main-container h4{
    color:var(--title-color);
    font-size: 1.5em;
    font-weight: 600;

}
.main-container p{
    margin: 1.5em 0;
    font-size:1.4em;
    line-height: 1.5em;
    color:var(--text-color);
}
.main-container h4+p{
    margin-top: 1em;
}
.main-text{
    padding-left: 3em;
}
.line{
    border-left: 1px solid var(--title-color);
}
