:root{
    --title-color:#f27a03;
}
.img-background{
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 90%;
    z-index: -1;
}
body{
    font-size: 62.5%;
    font-family: sans-serif;
    display: flex;
    background-size: cover; 
    

}

.sidebar-container{
    width: 20%;
    padding: 8em 2em;
    background-color: #13121ec8;
    height: 100vh;  
}
.sidebar{
    color: white;
    font-size: 1.7em;

    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: right;
    position: relative;
  
}
.sidebar-options{
    border-bottom:1px solid #ccc;
    padding: 2em 0 .5em 0;
    letter-spacing: 2px;
    overflow: hidden;
}

.sidebar-options:hover{
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.26);
}
.sidebar-options:hover a{
    position:relative;
    right:1.2em;
}
.sidebar a{
    text-decoration: none;
    color: white; 
    padding:30% 0 30% 30%;
}
.sidebar ul{
    margin-top: 60%;
}
.sidebar-img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position: absolute;
    right: 0;  
}
.main-container{
    width: 100%;
    height: auto;
    padding: 10em 4em;
    background-color: #33323caa;
}

.sidebar-page-option{
    border-bottom: 2px solid white;
    background-color: #cccccc47;
    border-radius: 5px;
}