.int1{
    display:none;
}
label span {
    display: inline-block;
    font-size: 20px;
    width: 25px;
    height: 25px;
    background-color: red;
}

.int1:checked+label span{
    background-color: blue;
    position: relative;
}

.int1:checked+label span::before{
    content: "";
    display: block;
    border: .2em solid white;
    position:absolute;
    top:.077em;
    left: .38em;
    right: .3em;
    bottom: .3em;
    transform: rotate(35deg);
    border-left: transparent;
    border-top: transparent;
}

/* input[type="checkbox"]:checked + label p{
    padding: 3.5px;
    border-left:5px solid black;
    border-bottom: 3px solid black;
    transform: rotate(-45deg)translate(8px, -8px) ;
} */

.ipt2 {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    outline: none;
}
.ipt2:focus +span{
    outline: 2px solid black;
}
.lbl2 span{
    display: inline-block;
    font-size: 20px;
    width: 25px;
    height: 25px;
}
.lbl2{
    position: relative;
}
.ipt2:checked + span::before{
    content: "";
    display: block;
    border: .2em solid rgb(255, 255, 255);
    position: absolute;
    padding: .4em .15em;
    left: .4em;
    bottom: .36em;
    border-left: transparent;
    border-top: transparent;
    
    transform: rotate(45deg);
    background-color: green;
}
.ipt2:checked + span{
    background-color: green;
}



.ipt3:checked + span{
    background-color: rgb(192, 192, 192);
    outline: 1px solid black;
}
.ipt3 + span::before{
    content: " ";
    position:absolute;
    padding: 0 .5em;
    height:1em;
    background-color: rgb(82, 81, 81);
    border-radius: 50%;
    transition: 1s;
}
.ipt3:checked + span::before{
    transform:translate(1em);
}
.ipt3+span{
    height: 1em;
    width: 2em;
    border-radius: 4em;
    background-color: aliceblue;
    outline: 1px solid black;
}
.ipt3{
    width: 0px;
    height: 0px;
    overflow: hidden;
    outline: none;
    position: absolute;
}
.ipt3:focus + span{
    outline: 1.5px solid black;
    outline-offset: 2px;
}