@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root{
    --color-nav-btn:#fbc902;
    --robot: "Roboto", serif;
    --background-color:#fafafa;
}

html{
    font: 400 62.5% "Roboto", serif;
}
.container{
    max-width: 127.6rem;
    margin:auto;
}
.wrapperContainer{
    margin-top: 1px;
}
.wrapperContainer-fixed{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}
.wrapperContainer-padded{
    padding-top: 12rem;
}
.background-nav{
    background-color: #2a2a2a;
    position: sticky;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
    
}
.menu{
    margin-right: 6rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.7em
}
.logo{
    margin: 1em 1em 1em 10em;
}

.menu a{
    text-decoration: none;
    background-color: transparent;
    color:var(--color-nav-btn);
    border: 2px solid var(--color-nav-btn);
    padding: .75em;
    font-size: 1.6em;
    text-transform: capitalize;
}

.menu a:hover{
    background-color: var(--color-nav-btn);
    color: black;
}

.background-introduction{
    background: linear-gradient(transparent,yellow);
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10em;
}


.btn{
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--color-nav-btn);
    font-size: 1.8em;
    padding: 1.6rem;
    display:inline-block;
    color: #2a2a2a;
}

.hero_title{
    margin-bottom:10rem;
    font-family: var(--robot);
    font-weight: 500;
    font-size: 6em;
}

.btn:hover{
    background-color: #3c3c3c;
    color: var(--color-nav-btn);
}
.main1{
    background-color: var(--background-color);
}
.cursos {
    text-align: center;
    height: 100vh;
}
.subtitle{
    font-size: 2.4em;
    font-weight: 550;
    font-family: var(--robot);
    padding: 7rem 0;
    margin: 0;
}
.curses-area{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 8rem;
}

.curse{
    background-color: #ffffff; 
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.583);
    flex:1;
}


.curse p{
    line-height: 1.5em;
}
.curse-text{
    padding: 1rem 2rem;
}

.curse h3{
    font-size: 2.4rem;
 
    font-family: var(--robot);
    font-weight: 700;
    margin: 4% 0;
}

.curse p{
    font-size: 100%;
    font-family: sans-serif;
    width: 80%;
}

.curse img{
    width: 100%;
}

.btn-curse{
    color: black;
    text-decoration: none;
    background-color: var(--color-nav-btn);
    padding: 2rem;
    border-radius: 5px;
    font-family: var(--robot);
    font-size: 1.2em;
}


.main2{
    background-color: #003434;
    width: 100%;
}

.nossa-escola{
    color: #e3e3e3;
    display: flex;
    gap:6rem;    
}
.nossa-escola h2{
    font-size: 3.2rem;
    margin-top:2em;
    
}
.nossa-escola-text p{
    font-size: 1.3em;
    font-size: 1.4rem;
    line-height: 1.6em;
    font-family: var(--robot);
    margin-top: 3em;
}
.nossa-escola-text{
    text-align: left;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
}
.main3{
    background-color: var(--background-color);

}
.contact h2{
    padding: 0 0 3% 0;
}

.address{
    text-align: right;
    align-self: self-end;
}

footer{
    background-color: #3c3c3c;
    color: #e3e3e3;
    padding: 1%;
    text-align: center;
}
