
:root {
    --dark: #272D38;
    --light: #FFF;
    --primary-color: #8EADD5;
    --primary-color-dark: #3f3f3f;
    --gray: #F6F6F6;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    text-align: center;
    margin: 0;
}

#home {
    padding: 2rem;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.icon-size{
    max-width: 1.7em;
    margin-bottom: 3em;
}
.header {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}
.icon-menu{
    align-items: flex-end;
    font-size: 1.5em
}

.header-menu{
    list-style-type: none;
    padding: 0;
    text-align: right;
    /*display: none;*/
}
.header-menu li{
    padding: .25em 0;
}
.header-menu a {
    display: block;
    padding: 1.75em 0;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
}

h2 {
    font-size: 2rem;
}

.header {
    text-align: left;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light);
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-color-dark);
}

img {
    max-width: 100%;
}

.branding{
    font-size: .76em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.branding p{
    line-height: 1.8em;
    text-transform: capitalize;
}
.brands{
    margin: 0;
}
.brands h2 {
    font-size: 1rem;
    font-weight: lighter;
    color: #667085;
}

.brands ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1em;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.testemunho {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1.1rem;
}
.testemunho_nome{
    font-weight: lighter;
    margin-bottom: 2em;
}
.testemunho img{
    width: 50%;
}
.testemunhos_wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}


.testemunhos_title{
    font-size: 1.9em;
}
.contato {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1.54rem;
    display: flex;
    justify-content: space-evenly;

}
.contato p{
    line-height: 1.8em;
    font-size: 1em;
}
.contato_image {
    display: none;
}
.contato_content .btn{
    display: block;
    padding: 1.3em;
}
a.btn{
    padding:.5em 2em;
    text-transform: uppercase;
    font-size:.9em;
    margin:1em;
}
.footer {
    background-color: var(--gray);
    padding: 3rem 5em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    line-height: 2em;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}
.icons{
    display: flex;
    justify-content: space-between;   
}
.icons i{
    font-size: 3em;
}
.company ul{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.footer a {
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright {
    white-space: nowrap;
}

.hero,
.brands,
.branding,
.testemunhos,
.contato {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

@media screen and (min-width: 31.25em){

    .header-menu{
        display: flex;
        flex-direction: row;
        gap: 1.5em;
    }
    .menu-btn,.menu-icon{
        display: none;
    }
    #home{
        display: grid;
        grid-template-columns: repeat(12,8.33%);
        grid-template-rows: 4em 18% 5% auto auto auto;
        row-gap: 3em;
    }
    .icon-menu{
        display: none;
    }
    .header{
        grid-column: 1/-1;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero{
        grid-column: 1/-1;
        grid-row: 2;

        text-align: center;
        align-self: center;
        margin: 0;

    }
    .content{
        text-align: left;
    }
    .hero header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hero_img{
        align-self: center;
    }

    a.btn{
        padding: 1em 3em;
        margin-left: 0;
    }
    .brands{
        grid-row: 3;
        grid-column: 1/-1;
        margin: 0;

    }
    .branding{
        text-align: left;
        grid-column: 1/-1;
        grid-row: 4;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        grid-auto-columns: auto;
        margin: 0;

    }
    .branding-img{
        width: 20.31rem;
    }
   
    .results{
        grid-row: 5;
        grid-column: 1/-1;
        display: flex;
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
    }
    .branding article,
    .results article{
        max-width: 27.23em;
    }
    .branding h2,
    .results h2{
        font-size: 2.875rem;
    }
    .branding p,
    .results p{
        font-size: 1rem;
    }
    .results-img{
        width: 20.31rem;
    }
    .testemunhos_title{
        font-size: 3.2em;
    }
    .testemunhos{
        grid-row: 6;
        grid-column: 1/-1;
        margin: 0;
    }
    .testemunho{
        text-align: left;

        display:flex;
        flex-direction: row;
        gap:3em
    }
    .testemunho h3{
        font-weight: 500;
    }
    .testemunho_content{
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    .testemunho img{
        max-width: 10em;
    }

    .contato{
        grid-row: 7;
       grid-column: 1/-1;
        text-align: left;
        padding: 0 3em;
        display:flex;
        flex-direction: column;
    }
    .contato_title{
        font-size: 3.3em;
    }
    .contato_image{
        display: flex;
        align-self: center;
    }
    a.btn{
        max-width: 14em;
        text-align: center;
    }

    .footer{
        max-width: 100%;
        padding:4em 3em 2em 2em;
        text-align: left;
        display: grid;
        grid-template-columns: 3 33%;
        grid-template-rows: 3 33%;
        gap: 3em;
        /* flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; */
    }
    .footer-title h3{
        margin: 0;
    }
    
    
    .company{
        grid-column: 3;
        grid-row: 1;
        margin-right: 5em;
    }
    .redes-sociais{
        width: 8.93rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column: 1;
        grid-row: 1;
    } 
    .icons i{
        font-size: 1.3em;
    }
}
    .footer_contato{
        grid-column: 1;
        grid-row: 2;
    }.copyright{
        margin-left: 1em;
        grid-column: 1/4;
        grid-row: 3;
    }
   
@media screen and (min-width: 90em){
    #home{
        padding:2em 10%;
        row-gap:2em;
    }
    .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hero_title{
        font-size: 5em;
    }
    .hero_img,
    .results-img { 
        width: 28.12em;
        height: 28.12em;
    }
    .branding-img{
        width: 28.12rem;
    }
    
    .branding{
        justify-content: space-between;
    }
    .results{
        gap:10em
    }
    .testemunhos{
        display: flex;
        flex-direction: column;
        gap:5em;
    }
    .testemunhos_wrapper{
        flex-direction:row;
        gap: 1em;
        
    }
    .testemunho{
        flex-direction: column;
        width: 33%;
        align-items: center;
        text-align:center;
        padding:2em;
        border-radius: 25px;
        gap: 0;
    }
    .contato{
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .contato img{
        width: 28.12rem;
    }
    .contato_content{
        max-width: 22.5rem;
    }
   .footer{
    padding: 2em 10%;
   }
   .footer_contato{
    grid-column: 3/4;
    grid-row: 1;
   }
   .company{
    grid-column: 2/3;
    grid-row: 1;
    margin-left: 15em;
   }
   .footer_contato h3{
    margin: 0;
   }
}
/*menu hamburguer*/
.menu-icon{
    position: relative;
    cursor: pointer;
    height: 24px;

}
.header {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}
.header-menu{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    overflow: hidden;
    max-height: 0;
    background-color: white;
    transition: max-height .4s;
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}
.menu-btn:checked ~ .header-menu{
    max-height: 100vh;
}

.header-menu:focus-within{
    max-height: 100vh;
}

@media screen and (min-width: 31.25em){
    .header-menu {
        position: static;
        max-height: initial;
        background-color: initial;
    }
}
.header nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav-icon{
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 24px;
}

.nav-icon::after, .nav-icon::before{
    content: "";
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 24px;
    position: absolute;
    transition: transform 1s;

}
.nav-icon::after{
    transform: translateY(8px);
}
.nav-icon::before{
    transform: translateY(-8px);
}
.menu-btn:checked + .menu-icon .nav-icon{
    background-color: transparent;
}
.menu-btn:checked + .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
}
.menu-btn:checked + .menu-icon .nav-icon::after{
    transform: rotate(45deg);
}
.menu-btn:focus-visible+.menu-icon{
    outline: 2px solid black;
    outline-offset: 3px;
/*    testando commits*/
}