body{
    width:70%;
    margin: auto;
    background-color: #eeeeee;
    
}
h1{
    background-color: #94a3e9;
    color: #0606ad;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    
}
h2{
    background-color: #a0a0a0;
    border-bottom: 2px solid #0606ad;
    color: #0606ad;
    height: 50px;
    font-size: 40px;
    padding: 10px;    
}
p{
    font-size: 24px;
}
p a{
    color: #00f;
    text-decoration: none;
    
   
}
p a:hover{
    text-decoration: underline;
    
}

.texto{
    font-size: 18px;
    text-indent: 30px;
}

div p {
    margin-top: 0;
    text-align: center;
    background-color: #8fd2ff;
}
.menu{
    text-align: left;

}

.menu li{
    list-style: none;
    display: inline-block;
    padding: 0;
}

.menu a{
    background-color: #a0a0a0;
    text-decoration: none;
    padding: 15px;
    color: white;
    display: block;
}

.menu li a:hover{
    background-color: #494949;
    transition: 1s;
}