@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
    --background-color:#3a68b7;
}
body{
    font-size: 62.5;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);

    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    
}
form{
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    padding: 1.4em;
    transition: .8s;

}

.login-container{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    width: 30em;
}

.login-container legend{
    font-size: 2em;
    color: var(--background-color);
    font-weight: 300;
}
.input{
    width: 100%;
    height: 3em;
    margin: 1em 0;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--background-color);
    margin-bottom: 2em;
    background-color: transparent;
    transition: padding-left .1s;

}
.input:invalid:focus{
    border-bottom: 2px solid rgb(189, 2, 2);
}

input:focus{
    background-color: #f6f6f6;
    border: 2px solid var(--background-color);
    padding-left: 1em;
}
.label{
    text-transform: uppercase;
    font-size: 1em;
}

.text-btn{
    letter-spacing: 1.5px;

}
.btn-login{
    padding: .9rem;
    width: fit-content;
    margin: auto;
    background-color: var(--background-color);
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;

}
.btn-cadastro{
    padding: .8rem;
    border-radius: 5px;
    background-color: transparent;
    color: var(--background-color);
    width: fit-content;
    margin: .2em;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
    cursor: pointer;
    font-weight: 400;
    transition: .4s;
}
.btn-cadastro:hover{
    background-color:#ccc;
    color:var(--background-color)
}
.btn-login:hover{
    background-color: #ccc;
    color: var(--background-color);
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.actions .help-password{
    font-size: 1em;
    align-self: center;
}

.actions .have-login{
    font-size: 1em;
    align-self: center;
}